.globe{
 display: flex;
 color: orange;
 margin-top: 5%;
}

.abouttext{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

#about{
    font-size: 5rem;
    padding-left: 0.45em;
}