.heading{
    font-weight: bold;
}

.cartsummary{
    padding: 3rem;
    border: 3px solid orange;
}

.info{
    height:auto;
}
.product{
    border: 3px solid orange;
    margin-right: 2rem;
}
#cartsummary{
    text-align: center;
}

.form{
    display: flex;
}
.shippingform{
        border-style: solid;
        border-color: orange;
        border-width: 3px;
        border-radius: 5px;
        padding: 15px;
}
input, select, textarea{
    width:100%;
}
#shippingbutton{
    float:right;
}