.numberinput{
    width:10vw;
}

#image{
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    min-height: 250px;
    max-height: 300px;
    min-width: 250px;
    max-width: 300px;
}

#addtocart{
    width:auto;
    max-width: 300px;
float: right;
}

#backarrow{
        font-size: 1em;
        color:orange;
        top: 0;
        flex: 1 0 1em;
        height: 1em;
        display: flex;
        flex-direction: row;
}

td{
    padding: 10px ;
    border: 2px solid orange;
}