button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

a{
    font-size: 3em;
}

.shopbody {
    display: "flex";
    height: 480px;
    min-width: 960px;
}

.shopdetails {
    width: 160px;
    height: 480px;
    background-color: "green";
    text-align: "center";
}

.list {
  width: 400px;
  height: 400px;  
}

#categorymenu {
  top: 0;
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  outline: none;
  z-index: 1200;
  position: static;
  overflow-y: auto;
  flex-direction: column;
}

.menuHeader {
  padding-left: 30px;
}

.overview {
  margin-left:auto;
  display:flex;
}
