button{
    width:20%;
    height:5%;
    margin:auto;
}

a{
    font-size: 3em;
}

.shopbody {
    display: "flex";
    height: 480px;
    min-width: 960px;
}

.shopdetails {
    width: 160px;
    height: 480px;
    background-color: "green";
    text-align: "center";
}