.button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 3rem;
    margin: 4% 2%;
    float:"left";
    width: 33%;
}

a{
    font-size: 2em;
}

.shopbody {
    display: "flex";
    height: 480px;
    min-width: 960px;
}

.shopdetails {
    width: 160px;
    height: 480px;
    background-color: "green";
    text-align: "center";
}

.list {
  width: 400px;
  height: 400px;  
}

#categorymenu {
  top: 0;
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  outline: none;
  z-index: 1200;
  position: static;
  overflow-y: auto;
  flex-direction: column;
}

.menuHeader {
  padding-left: 30px;
}

.overview {
  margin-left:auto;
  display:flex;
  float:left;

}

.sortbar{
  font-size: 40px;
  top: 0;
  flex: 1 0 1em;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#categoryname-sortbar{
  display: flex;
  align-content: flex-start;
}
#sortbar-part{
  display:flex;
  text-align: center;
}
.sortby{
  display:flex;
  font-size:24px;
  justify-content: flex-end;
}
#sortby-label{
  height: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: justify;

}
#select-sortby{
 width:auto; 
}
