body {
  margin-top: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button, .button {
  color:white;
  background-color: orange;
  margin:auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px ;
  padding-right: 20px;
  border-radius: 20%;
}

a{
  font-size: 3em;
}

input, select {
  border-radius: 5%
}

.col-1 {  float:"left"; width: 8.33%;}
.col-2 {  float:"left";width: 16.66%;}
.col-3 {  float:"left";width: 25%;}
.col-4 {  float:"left";width: 33.33%;}
.col-5 {  float:"left";width: 41.66%;}
.col-6 {  float:"left";width: 50%;}
.col-7 {  float:"left";width: 58.33%;}
.col-8 {  float:"left";width: 66.66%;}
.col-9 {  float:"left";width: 75%;}
.col-10 {  float:"left";width: 83.33%;}
.col-11 {  float:"left";width: 91.66%;}
.col-12 {  float:"left";width: 100%;}

.flex-container{
  font-size: 40px;
  top: 0;
  flex: 1 0 1em;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#header {
  top: 0;
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  outline: none;
  z-index: 1300;
  position: fixed;
  flex-direction: column;
}

#footer {
  bottom: 0;
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  outline: none;
  z-index: 1200;
  position: fixed;
  flex-direction: column;
}

#body{
  margin-top: 3rem;
  padding: 0.5rem;
}

.brand{
  font-weight: bold;
}